<!-- third party scripts -->
<script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.11.8/umd/popper.min.js" defer></script>
<script src="https://cdn.bootcdn.net/ajax/libs/tippy.js/6.3.7/tippy-bundle.umd.min.js" defer></script>
<script src="https://cdn.bootcdn.net/ajax/libs/mark.js/8.11.1/mark.min.js" defer></script>

<!-- include all js in scripts folder -->
{% assign scripts = site.static_files | where_exp: "file", "file.path contains '/scripts'" %}
{% for script in scripts %}
  <script src="{{ script.path | relative_url }}"></script>
{% endfor %}
